/* Global properties */
:root {
    /* background-color */
    --bColor1: #0D1B2A;
    --bColor2: #264661;
    --bColor3: #4885BD;
    /* highlight-color */
    --hlColor1: #FF9600;
    --hlColor2: #FFB424;
    --hlColor3: #FFC850;
    /* detail-color */
    --dColor1: #FDFE68;
    --dColor2: #FFEB00;
    --dColor3: #FFFA66;
}
*{
    padding: 0;
    margin:0;
    box-sizing: content-box;
    font-size: 21px;
    /* criar variaveis para as cores */
}
 
li{
    list-style: none;
}

/* Animations */
@keyframes trocaCor {
    0%   { color: var(--hlColor1); }
    25%  { color: var(--hlColor2); }
    50%  { color: var(--hlColor3); }
    75%  { color: var(--dColor3); }
    100% { color: var(--dColor2); }
}

/* Hero Section */
#hero{
    height: 500px;
    min-height: 36%;
    max-width: 100%;
    background-color: var(--bColor2);
    padding: 3rem 5rem;
    color: #fff;
    display: flex;
}

.hero-info{
    max-width: 66%;
    max-height: 100%;
    margin-right: 3rem;
}

.hero-info h1{
    color:var(--hlColor1);
    font-size: 3rem;
    padding: 1rem 0;
    animation: trocaCor 4s linear infinite alternate;
}
/* para remover abaixo */

#hero-tools{
    position: relative;
    top: 2rem;
    text-align: center;
}
#hero-tools, #hero-tools ul{
    display: flex;
}

#hero-tools p, #hero-tools ul{
    margin-inline: 2rem;
}

#hero-tools span{
    font-weight: bolder;
    color: var(--hlColor2);
    font-size: 1.25rem;
}


.hero-pic{
    border: 2px solid rgb(253, 254, 104);
    max-width: 100%;
}



/* Navigational bar */

#nav-bar{
    max-width: 100%;
    min-height: 20%;
    background-color: var(--hlColor3);
}

.navlist{
    display: flex;
    justify-content: space-around;
    justify-items:center;
    padding-top: 2rem;
}

.navlist li{
    width: 10rem;
    height: 2rem;
    position: relative;
    top: 1.15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    background-color: #fff;
    text-align: center;
    background-color: var(--bColor2);
}
.navlist li:hover{
    top: 0.5rem;
}

.navlist a{
    text-decoration: none;
    color: va(--hlColor1);
    font-size: 1.5rem;
    font-weight: bold;
    animation: trocaCor 4s linear infinite alternate;
}


/* Projects area */

#projects{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--bColor2);
    max-width: 100%;
    max-height: 76%;
    padding: 2.5rem;
    gap: 1rem;
}

.card-proj{
    border: 1px solid #fff;
    padding: 1rem;
    height: 460px;
    width: 350px;
    background-color: var(--bColor3);
}

.card-proj-pics img{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 1.5rem;
}


/* Contacts area */
